{% extends 'layout.html'%}
{% block body %}
<div class="content">
    <div class="text">Followers Map</div>
    <form action="#" method="POST">
        <div class="field">
            <input type="nickname" name="nickname" required>
            <label>Тwitter nickname</label>
        </div>
        <div class="field">
            <input type="password" name="token" required>
            <label>Bearer Token</label>
        </div>
        <button>Find followers</button>
        <div class="credits" style="line-height: 0.75" ;>
            <p1>Developed by Roman Kulyk.<br>Design elements by <a
                    href='https://www.codingnepalweb.com/2020/05/light-neumorphism-login-form-ui-design-html-css.html'
                    style="text-decoration: none; color: #a3a2a2;" ;>CodingNepal</a>
            </p1>
        </div>
    </form>
</div>
<!-- <div class="content">
    <div class="text">Followers Map</div>
    <form action="#" method="POST">
        <div class="field">
            <input type="username" name="nickname" required>
            <label>Тwitter nickname</label>
        </div>
        <div class="field">
            <input type="password" name="token" required>
            <label>Bearer Token</label>
        </div>
        <button>Find followers</button>
    </form>
</div> -->
{% endblock %}