<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Followers Map</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    {% block body %}
    {% endblock %}
    <!-- <div class="content">
        <div class="text">Followers Map</div>
        <form action="#">
            <div class="field">
                <input type="nickname" required>
                <label>Тwitter nickname</label>
            </div>
            <div class="field">
                <input type="password" required>
                <label>Bearer Token</label>
            </div>
            <button>Find followers</button>
        </form>
    </div> -->
</body>

</html>