<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c7a8688346aa4f22b273a3ac94f3f724 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c7a8688346aa4f22b273a3ac94f3f724" ></div>
        
</body>
<script>    
    
            var map_c7a8688346aa4f22b273a3ac94f3f724 = L.map(
                "map_c7a8688346aa4f22b273a3ac94f3f724",
                {
                    center: [40.449718675169805, -5.577504695444702],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_454b4a4afc794f8fab90e9a7e2076e66 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c7a8688346aa4f22b273a3ac94f3f724);
        
    
            var tile_layer_172146f9bf974ad59d240143b2f77d9d = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c7a8688346aa4f22b273a3ac94f3f724);
        
    
            var feature_group_ba120b82d22c4641b83ddd4a52087bfa = L.featureGroup(
                {}
            ).addTo(map_c7a8688346aa4f22b273a3ac94f3f724);
        
    
            var marker_0f7614feeb7649d1b5d721d1afcc9710 = L.marker(
                [43.6534817, -79.3839347],
                {}
            ).addTo(feature_group_ba120b82d22c4641b83ddd4a52087bfa);
        
    
            var icon_3dad9f61806242dab64f7902eab00bd3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightblue", "prefix": "glyphicon"}
            );
            marker_0f7614feeb7649d1b5d721d1afcc9710.setIcon(icon_3dad9f61806242dab64f7902eab00bd3);
        
    
        var popup_4288a35ec3c04a429f0bbbc4a48795bd = L.popup({"maxWidth": "100%"});

        
            var html_a79578f1903f4e6a93229eff993ff1f9 = $(`<div id="html_a79578f1903f4e6a93229eff993ff1f9" style="width: 100.0%; height: 100.0%;">dbrand</div>`)[0];
            popup_4288a35ec3c04a429f0bbbc4a48795bd.setContent(html_a79578f1903f4e6a93229eff993ff1f9);
        

        marker_0f7614feeb7649d1b5d721d1afcc9710.bindPopup(popup_4288a35ec3c04a429f0bbbc4a48795bd)
        ;

        
    
    
            var marker_8da74ab7ae004a6999e3a4f7c973aab0 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_ba120b82d22c4641b83ddd4a52087bfa);
        
    
            var icon_8440b5d1d7fe4459bbd92a1583069a6f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightblue", "prefix": "glyphicon"}
            );
            marker_8da74ab7ae004a6999e3a4f7c973aab0.setIcon(icon_8440b5d1d7fe4459bbd92a1583069a6f);
        
    
        var popup_dda9d408ebba449abce678de0a41acbd = L.popup({"maxWidth": "100%"});

        
            var html_3d8b99aa5558462d994f9dd715fc277d = $(`<div id="html_3d8b99aa5558462d994f9dd715fc277d" style="width: 100.0%; height: 100.0%;">MKBHD</div>`)[0];
            popup_dda9d408ebba449abce678de0a41acbd.setContent(html_3d8b99aa5558462d994f9dd715fc277d);
        

        marker_8da74ab7ae004a6999e3a4f7c973aab0.bindPopup(popup_dda9d408ebba449abce678de0a41acbd)
        ;

        
    
    
            var marker_f2962c4130c64893a98adc805fcc2a8f = L.marker(
                [42.3750997, -71.1056157],
                {}
            ).addTo(feature_group_ba120b82d22c4641b83ddd4a52087bfa);
        
    
            var icon_b8a7d9c682d5409f83ae0a73c30a5158 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightblue", "prefix": "glyphicon"}
            );
            marker_f2962c4130c64893a98adc805fcc2a8f.setIcon(icon_b8a7d9c682d5409f83ae0a73c30a5158);
        
    
        var popup_b45781830ae345fa8c122f5c998092f2 = L.popup({"maxWidth": "100%"});

        
            var html_51e78b9bb50f4d05940bd897c9c0b5dd = $(`<div id="html_51e78b9bb50f4d05940bd897c9c0b5dd" style="width: 100.0%; height: 100.0%;">fifteenai</div>`)[0];
            popup_b45781830ae345fa8c122f5c998092f2.setContent(html_51e78b9bb50f4d05940bd897c9c0b5dd);
        

        marker_f2962c4130c64893a98adc805fcc2a8f.bindPopup(popup_b45781830ae345fa8c122f5c998092f2)
        ;

        
    
    
            var marker_93c55268d75e4d16bd010974b5acb6f6 = L.marker(
                [55.6052931, 13.0001566],
                {}
            ).addTo(feature_group_ba120b82d22c4641b83ddd4a52087bfa);
        
    
            var icon_678031c2b59b4ca2b40f7f264770f7d0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightblue", "prefix": "glyphicon"}
            );
            marker_93c55268d75e4d16bd010974b5acb6f6.setIcon(icon_678031c2b59b4ca2b40f7f264770f7d0);
        
    
        var popup_2c03c8e6b68e4252bd4fc016a09706d0 = L.popup({"maxWidth": "100%"});

        
            var html_7ae468333b6d4caeade77ee5fc6213c4 = $(`<div id="html_7ae468333b6d4caeade77ee5fc6213c4" style="width: 100.0%; height: 100.0%;">tuxedolabs</div>`)[0];
            popup_2c03c8e6b68e4252bd4fc016a09706d0.setContent(html_7ae468333b6d4caeade77ee5fc6213c4);
        

        marker_93c55268d75e4d16bd010974b5acb6f6.bindPopup(popup_2c03c8e6b68e4252bd4fc016a09706d0)
        ;

        
    
    
            var marker_c8d677a9838149958d8604ec4f0a84bc = L.marker(
                [35.1987522, -111.6518229],
                {}
            ).addTo(feature_group_ba120b82d22c4641b83ddd4a52087bfa);
        
    
            var icon_17f410ca31e34748810446ecb76f1b38 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightblue", "prefix": "glyphicon"}
            );
            marker_c8d677a9838149958d8604ec4f0a84bc.setIcon(icon_17f410ca31e34748810446ecb76f1b38);
        
    
        var popup_948713bc84df4112ac32169ca040ab15 = L.popup({"maxWidth": "100%"});

        
            var html_505d8c115590426297ade3b6f0df7ff2 = $(`<div id="html_505d8c115590426297ade3b6f0df7ff2" style="width: 100.0%; height: 100.0%;">ProgrammerLin</div>`)[0];
            popup_948713bc84df4112ac32169ca040ab15.setContent(html_505d8c115590426297ade3b6f0df7ff2);
        

        marker_c8d677a9838149958d8604ec4f0a84bc.bindPopup(popup_948713bc84df4112ac32169ca040ab15)
        ;

        
    
    
            var marker_64c79009acf64e92ab915e1f72b411e8 = L.marker(
                [52.215933, 19.134422],
                {}
            ).addTo(feature_group_ba120b82d22c4641b83ddd4a52087bfa);
        
    
            var icon_c493f79e0bad43e28d82eb74b0fcad3d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightblue", "prefix": "glyphicon"}
            );
            marker_64c79009acf64e92ab915e1f72b411e8.setIcon(icon_c493f79e0bad43e28d82eb74b0fcad3d);
        
    
        var popup_16c670cb36f046108eeaf44b4915e051 = L.popup({"maxWidth": "100%"});

        
            var html_8a4eecc04c3c47ec83828285092ed8c4 = $(`<div id="html_8a4eecc04c3c47ec83828285092ed8c4" style="width: 100.0%; height: 100.0%;">MrGumix</div>`)[0];
            popup_16c670cb36f046108eeaf44b4915e051.setContent(html_8a4eecc04c3c47ec83828285092ed8c4);
        

        marker_64c79009acf64e92ab915e1f72b411e8.bindPopup(popup_16c670cb36f046108eeaf44b4915e051)
        ;

        
    
</script>